.App {
  height: 100vh;
  background-color: black;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-calculadora {
  width: 400px;
  height: 570px;
  padding: 14px;
  background-color: #424949;
  border-radius: 20px;
  border: 10px solid #7F8C8D;
}

.fila {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}